[submodule "libraries/glfw"]
	path = libraries/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "lapwing"]
	path = lapwing
	url = git@github.com:northhead-games/lapwing.git
